body{
	width:100%;
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: #333;

	padding: 10px;
    margin: 0;

   	-webkit-box-sizing: border-box
  	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.header {
	padding: 10px 40px;
	background-color: #ff5b3a; 
	color:#fff;   
}
h1{
	font-size: 48px;
	font-weight:300;
	margin-top: 10px;
	max-width: 650px;
}
h3{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 700;
}
.details{
	padding: 10px 40px;
	font-size:21px;
	color: #ff5b3a;
}
.deet{
	margin: 10px;	
}

p{}